body{
    background-color: #25D0AD !important;
    width:100%;
}


.section-1 {
    background-color: #25D0AD !important;
    /* border: 1px solid white; */
    /* box-shadow: 3px 3px 10px rgb(253, 251, 251); */
}

.ns_section {
    border: 1px solid white;
    box-shadow: 5px 5px 0px black
}

.grid_items {
    border: 0.3px solid rgb(102, 99, 99);
    height: 34px;
}

.gridmargin {
    margin-top: 70px;
}

.instructed {
    /* background-color: #25D0AD; */
    /* font-size: 15px; */
    left: 0px; right: 0px;

    transform: translate(0%,-50%);

}

.worked {
    background-color: #25D0AD;
    font-size: 12px;
    left: 18.5%;
    transform: translateY(-50%);
    /* box-shadow: 1px 1px 0px black,-1px -1px 0px black; */
    outline: 1px solid black;
}

.content_img {
    border: 1px solid rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.sec_2_item {
    box-shadow: 3px 3px 0px white;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid white;
}

.sec_2_item:nth-last-child() {
    border-left: 1px solid white;
}

.sec_3_ns_item {
    height: 100%;
}

.borderleft {
    border-left: 1px solid white;
}

.section-3 {
    background-color: #25D0AD;
    border-bottom: 1px solid black;
}

.section-4 {
    border-bottom: 1px solid black;

}

.section-5 {
    padding-bottom: 10px;
}

.lastmodule { 
    padding-bottom: 60px;
 }

.sec_5_ns_item {
    border: 1px solid black;
    box-shadow: 4px 4px 0px black;
    border-radius: 10px;

}

.sec_5_ns_item ul {
    border-bottom: 1px dotted black;

}

.sec_5_ns_item ul li {
    list-style: square;
    font-size: 14px;
    line-height: 33px !important;
}

.bordertop {
    border-top: 1px solid black;
}

.mentor {
    background-color: white !important;

}

.ns_mentor {
    background-color: #25D0AD;
    border: 1px solid black;
}

.certificate_image img {
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 0px black;
}

.registation {
    /* border: 1px solid white; */
}

.fee_section {
    border: 1px solid white;
    box-shadow: 6px 6px 0px black;
}

.contentAndImg {
    /* border: 1px solid black; */
}

.sec_5_ns_item ul li::marker {
    font-size: 18px;
}

.moudle {
    border: 1px solid black;
    border-radius: 12px;
}

.none {
    border: none !important;
}

.card_main {
    box-shadow: 7px 7px 0px black !important;
    /* box-shadow: none !important; */
}

.sec_4_ns_item {
    /* border: 1px solid black; */
}

.sec_4_ns_item .sec_4_items {
    background-color: #131033;

}

.second ul {
    border: none;

}

.icons::before {
    content: '';
    width: 35px;
    height: 35px;
    background-image: url('assest/icon/check.png');
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.enrol::before {
    content: '';
    width: 50px;
    height: 50px;
    color: white;
    margin-top: -12px;
    /* margin-right: 20px; */
    background-image: url('assest/icon/right-arrow.png');
    background-size: 20px 20px;
    filter: invert(1);
    background-position: center;
    background-repeat: no-repeat;

}

.registerNow {
    border: 1px solid black;
    box-shadow: 4px 4px 0px white;
}

.fee_discription::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background-image: url('assest/icon/check.png') !important;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.ns_query{
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 0px black;
}
.queryList{
    border: 1px solid black;
}

.inputss:focus{
outline: none;
}

.footer {}

.image_section {}

.content_section {}

.logos {
    /* border: 1px solid rgb(0, 0, 0); */
}


.jsForm{
    top: 150px;
    z-index: 10;
    height: 380px !important;
    left: 50%;
    /* width: 90% !important; */
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    transform: translateX(-50%);
}

.fs{
    font-size: 30px !important;
}








@media only screen and (min-width: 768px){


    .container{
        background-color: #131033 !important;
    }
    .grid_items{
        /* height: 50px; */
    }

    .gridmargin {
        margin-top: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       
    }




    .brochure{
        width: 400px;
        /* left: 50%; */
        transform: translate(50%,0%);
    }

    .instructed{
        left: inherit;
         right: inherit;

        transform: translate(0%,0%);

    }
    
    .content_img {
        border: 1px solid rgb(255, 255, 255);
        top: 35%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
    }

    .section-1{
        border-bottom: 1px solid black;
    }
    .lastmodule { 
        padding-bottom: 0px;
     }
    
     .sec_5_ns_item {
        border: 1px solid black;
        box-shadow: 4px 4px 0px black;
        border-radius: 25px;
    
    }

    .mentorImage{
        box-shadow: 8px 8px 0px black;
    }

    .footer{
        top: 70%;
    }

    .jsForm{
      
        top: 0px;
        z-index: 10;
        left: 50%;
        transform: translate(-50%,100px);
        border: 1px solid rgb(255, 255, 255);
        background-color: black;
    }

    .fs{
        font-size: 26px !important;
    }
   .gradiednt{
    background: linear-gradient(180deg , #141033 ,#25D0AD);
   }
}